<div class="container-fluid left">
    <div class="row main-row fill">
        <div class="col-md-2 sidebar hidden-xs" id="left-dashboard">
            <ul class="nav nav-pills nav-stacked text-center">
                <li role="presentation" class="active"><a href="#">Stores</a></li>
                <li role="presentation"><a href="#">Products</a></li>
                <li role="presentation"><a href="#">Statistics</a></li>
                <li role="presentation"><a href="#">Reports</a></li>
            </ul>

        </div>
        <div class="col-md-10 main-content-area">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3>Open Orders</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h2>16</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3>Visitors in Last 24 Hours</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h2>1232</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3>Subscribers</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h2>160</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    
</style>
