<div class="container-fluid left">
    <div class="row main-row fill">
        <div class="col-md-2 sidebar hidden-xs" id="left-dashboard">
            <div id="title" class="text-center">
                <h3>Flaunt</h3>
            </div>
            <ul class="nav nav-pills nav-stacked text-center">
                <!--<li role="presentation" class="active" ng-click="clicked(0)"><a href="#">Dashboard</a></li>
                <li role="presentation" ng-click="clicked(1)"><a ui-sref=".Stores">Stores</a></li>
                <li role="presentation" ng-click="clicked(2)"><a ui-sref=".Products">Products</a></li>
                <li role="presentation" ng-click="clicked(3)"><a ui-sref=".Statistics">Statistics</a></li>
                <li role="presentation" ng-click="clicked(4)"><a ui-sref=".Reports">Reports</a></li>-->
                <li role="presentation" ng-class="{active : activeMenuItem === i.pos}" ng-click="clicked($index)" ng-repeat="i in menu_items">
                    <a ui-sref=".{{i.state}}">{{i.name}}</a>
                </li>

            </ul>

        </div>
        <div class="col-md-10 main-content-area">
            <div class="row topbar">
                <nav class="" role="navigation">
                    <div class="nav toggle">
                        <a id="menu_toggle"><span class="fa fa-bars fa-2x"></span></a>
                        <ul class="nav navbar-nav navbar-right">
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-envelope-o"></span>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="/app/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <span class="image">
                                                <img src="/app/images/img.jpg" alt="Profile Image" />
                                            </span>
                                            <span>
                                                <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="text-center">
                                            <a href="inbox.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/app/images/img.jpg" alt="" class="user-profile">Tony Stark <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Profile</a></li>
                                    <li>
                                        <a href="#">
                                            <span class="badge bg-red pull-right">50%</span> Settings
                                        </a>
                                    </li>
                                    <li><a href="#">Help</a></li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-sign-out pull-right"></span>Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <ui-view></ui-view>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>
</div>
