<div class="container top" ng-hide="isLoggedIn">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form ng-submit="login(user)">
                <float-label id="email" type="email" label-text="email" ng-model="user.username"></float-label>
                <float-label id="password" type="password" label-text="password" ng-model="user.password"></float-label>
                <p class="text-center">
                    <button class="filter btn btn-primary btn-block" type="submit"><i class="fa fa-sign-in"></i> Log in</button>
                </p>

                <p class="text-center">
                    Not yet registered?
                    <a href="register.html"><strong>Signup</strong></a>
                </p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
