<div class="row dashboard-content">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="btn btn-primary btn-block" ng-click="createStore()">
                Create New Store
            </div>
            <p></p>
            <h3 class="text-center" ng-show="stores.length === 0">No stores created yet! Create one.</h3>
            <div class="panel panel-default" ng-show="stores.length > 0">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2>Branches</h2>
                </div>
                <div class="panel-body">
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="store in stores" ng-click="editStore(store)">{{store.area_name}}</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-3"></div>
    </div>

</div>
